<!DOCTYPE html>
<html>
    <head>
        <title>Auction Tracker</title>
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
        <style>
            #postsave {
                padding-left: 20%;
                padding-right: 20%;
                padding-top: 20px;
                padding-bottom: 20px;
             
            }

            #forms_parent:after {
                content: '';
                display: block;
                clear: both;
                padding-top: 20px;
            }

        </style>
    </head>
    <body>
        <header class="navbar">
            <section class="navbar-section">
              <a href="http://127.0.0.1:5000/" class="navbar-brand mr-2">Strona Główna</a>
            </section>
        </header>

        <div id="forms_parent">
            <div id="postsave">
                <div class="empty">
                    <p class="empty-title h2">ZAPISANO</p>
                </div>
            </div>            
        </div>        
    </body>
</html>